@font-face {
  font-family: 'Josefin Sans';
  src: url('https://fonts.google.com/specimen/Josefin+Sans');
}
:root {
  /* COLORS */
  /* primary */
  --primary-bright-blue: hsl(220, 98%, 61%);
  --primary-check-background: linear-gradient hsl(192, 100%, 50%) to hsl(280, 87%, 65%);

  /* light theme */
  --lt-very-light-grey: hsl(0, 0, 98%);
  --lt-very-light-grey-blue: hsl(236, 33%, 92%);
  --lt-light-grey-blue: hsl(233, 11%, 84%);
  --lt-dark-grey-blue: hsl(236, 9%, 61%);
  --lt-very-dark-grey-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --dt-very-dark-blue: hsl(235, 21%, 11%);
  --dt-very-dark-desat-blue: hsl(235, 24%, 19%);
  --dt-light-grey-blue: hsl(234, 39%, 85%);
  --dt-light-grey-blue-hover: hsl(236, 33%, 92%);
  --dt-dark-grey-blue: hsl(234, 11%, 52%);
  /* --dt-very-dark-grey-blue: hsl(233, 14%, 35%); */
  --dt-very-dark-grey-blue: hsl(237, 14%, 26%);

  /* Fonts */
  --font-size: 18px;
  --font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
